{% extends "admin.html" %}

{% block ngapp %}ng-app="dashboard"
{% endblock ngapp %}
{% block head_script %}
<script src="/assets/twitter/javascripts/admin/dashboard.js"></script>
{% endblock head_script %}
{% block content %}
<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav" id="stats">
            <ul class="nav nav-list" id="stats-list">
                <li class="nav-header">Stats</li>
                <li id="buckets"><span class="label label-info">Buckets holding {{ bucket_count }} qrcodes.</span></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
