{% extends "admin.html" %}

{% block ngapp %}ng-app="panel"
{% endblock ngapp %}
{% block head_script %}
<script src="/assets/twitter/javascripts/admin/dashboard.js"></script>
{% endblock head_script %}
{% block content %}
<div class="row">
    <div class="span3">
        <div id="registry">
            <h4>Registry</h4>
            <ul id="lineitems">
                {% for li in lineitems %}
                <li><span>{{ li.capacity }}</span><span>{{ li.tally }}</span></li>
                {% endfor %}
            </ul>
            <form id="stock-form" class="well form-horizontal"
                  action="{{ url_for('bridge.stock') }}" method="post" accept-charset="utf-8">
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-primary" type="submit" value="Replenish"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="span3">
        <div id="buckets">
            <h4>Buckets</h4>
            <div>{{ bucket_count }}</div>
        </div>
    </div>
</div>
{% endblock content %}
