{% extends "admin.html" %}

{% block ngapp %}ng-app="dashboard"
{% endblock ngapp %}
{% block style_block %}
<link rel="stylesheet" href="/assets/twitter/stylesheets/rickshaw.min.css">
<style>
    #chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
    }
    #chart {
        position: relative;
        left: 40px;
    }
    #y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
    }
</style>
{% endblock %}
{% block head_script %}
<script src="/assets/twitter/javascripts/d3.min.js"></script>
<script src="/assets/twitter/javascripts/rickshaw.min.js"></script>
<script src="/assets/twitter/javascripts/admin/dashboard.js"></script>
{% endblock head_script %}
{% block content %}
<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav" id="stats">
            <ul class="nav nav-list" id="stats-list">
                <li class="nav-header">Stats</li>
                <li id="buckets"><span class="label label-info">Buckets holding {{ bucket_count }} qrcodes.</span></li>
            </ul>
        </div>
    </div>
    <div id="chart_container" class="span9">
        <div id="y_axis"></div>
        <div id="chart">

        </div>
    </div>
</div>
{% endblock content %}
{% block tail_script %}
<script>

    var data = [{x:1366525800, y:172},
                {x:1366525740, y:148},
                {x:1366525680, y:121},
                {x:1366525620, y:76},
                {x:1366525560, y:34},
                {x:1366525860, y:3},
                {x:1366525500, y:6}];

    var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart"),
        width: 800,
        height: 600,
        series: [ {
            color: 'steelblue',
            data: data
        } ]
    } );

    var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );

    var y_axis = new Rickshaw.Graph.Axis.Y( {
        graph: graph,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        element: document.getElementById('y_axis')
    } );

    graph.render();

</script>
{% endblock %}