<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">QRCache</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="/client">Overview</a>
                    </li>
                    <li>
                        <a href="/client/account">Account</a>
                    </li>
                    <li>
                        <a href="/client/profile">Profile</a>
                    </li>
                    <li>
                        <a href="/client/support">Support</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!-- /.navbar .container -->
    </div><!-- /.navbar-inner -->
</div><!-- /navbar -->
