{% extends "client.html" %}

{% block ngapp %}ng-app="overview"
{% endblock ngapp %}
{% block head_script %}
<script src="/assets/twitter/javascripts/client/overview.js"></script>
{% endblock head_script %}
{% block content %}
<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav" id="actions">
            <ul class="nav nav-list" id="actions-list">
                <li class="nav-header" id="campaigns">{{ campaign.name }}</li>
                <hr>
                {% for key in campaign.qrcodes %}
                <li><a href="/client/{{ key.urlsafe() }}.qrcode">
                    <img class="alpha" src="/alpha/{{ key.urlsafe() }}" />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
