{% extends "client.html" %}

{% block ngapp %}ng-app="qrcode"
{% endblock ngapp %}
{% block head_script %}
<script src="/assets/twitter/javascripts/ui-bootstrap-tpls-0.2.0.min.js?0.9977362895741778"></script>
<script src="/assets/twitter/javascripts/client/qrcode.js"></script>
{% endblock head_script %}
{% block content %}
<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav" id="actions">
            <ul class="nav nav-list" id="actions-list">
                <li class="nav-header" id="campaign">Campaign <a href="/client/{{ qrcode.campaign.urlsafe() }}.campaign">{{ qrcode.campaign.get().name }}</a></li>
                <li>
                    <div ng-controller="TabsCtrl">
                        <tabs>
                            <pane heading="Alpha">
                                <img class="alpha" src="/alpha/{{ qrcode.key.urlsafe() }}" />
                            </pane>
                            <pane heading="Beta">
                                <img class="beta" src="/beta/{{ qrcode.key.urlsafe() }}" />
                            </pane>
                            <pane heading="Gamma">
                                <img class="gamma" src="/gamma/{{ qrcode.key.urlsafe() }}" />
                            </pane>
                        </tabs>
                    </div>
                </li>
                {% if qrcode.tags %}
                <li class="nav-header" id="tags">Tags</li>
                <li>
                    <ul>
                        {% for tag in qrcode.tags %}
                        <li><span class="label label-info">{{ tag }}</span></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% if qrcode.redirect %}
                <li class="nav-header" id="redirect">Redirect</li>
                <li><span class="label label-info"><a href="{{ qrcode.redirect}}">跳转地址</a></span></li>
                {% endif %}
                {% if qrcode.target==1 %}
                <li class="nav-header" id="cachelog">Cache Log</li>
                <li><span class="label label-info"><a href="{{ url_for('journal.log', key=qrcode.key.urlsafe()) }}">匮笺</a></span></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
